# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Temporary audio & environment secrets & user memory
*.mp3
tmp/
.env
*.env
data/
*.tmp

# OS files
Thumbs.db
Desktop.ini
.DS_Store
